<h1 class="mb-4 text-center">My Videos</h1>
<div id="videos">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @videos.order(id: :desc).each do |video| %>
      <div class="col">
        <div class="card h-100">
          <%= link_to video, class:"text-decoration-none" do %>
            <div class="card shadow border border-0">
                <% if video.file.attached? %>
                  <% if video.file.video? %>
                    <video class="w-100 rounded" style="background:black;height:200px;">
                      <source src="<%= rails_blob_url(video.file) %>" type="<%= video.file.content_type %>">
                    </video>
                  <% else %>
                    <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100 rounded" style="background:black;height:200px;">
                  <% end %>
                <% else %>
                  <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100 rounded" style="background:black;height:200px;">
                <% end %>
                <div class="card-body">
                  <%= render video %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
