<div id="videos">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @videos.order(id: :desc).each do |video| %>
      <div class="col">
        <div class="card h-100">
          <%= link_to video, class:"text-decoration-none" do %>
            <div class="card border border-0">
                <% if video.file.attached? %>
                  <% if video.file.video? %>
                    <video class="w-100 rounded" style="background:black;height:200px;">
                        <source src="<%= rails_blob_url(video.file) %>" type="<%= video.file.content_type %>">
                    </video>
                  <% end %>
                <% end %>
                <div class="card-body">
                  <%= render video %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
